@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.linea-separacion {
  margin-top: 2rem;
  width: 100%;
  height: 0px;
  border: 1px solid #dc2f02;
  margin: 2rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: white; }

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000000;
  padding: 1rem;
  border-bottom: 1px solid #dc2f02;
  position: sticky;
  top: 0; }
  header .logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
    header .logo a {
      text-decoration: none;
      color: white; }
      header .logo a h2 {
        font-family: "Cabin Sketch", sans-serif;
        font-weight: 600;
        font-size: 3rem;
        font-style: normal;
        margin-left: 2rem; }
      header .logo a img {
        width: 130px;
        height: 70px; }
  header .navBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 2rem; }
    header .navBar ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2rem; }
      header .navBar ul li {
        list-style: none; }
        header .navBar ul li a {
          text-decoration: none;
          color: white;
          font-family: "Cabin Sketch", sans-serif;
          font-weight: 300;
          font-style: italic;
          font-size: 1.5rem; }
          header .navBar ul li a:hover {
            color: #dc2f02; }

.main-index .banner-main {
  width: 100%;
  height: 25rem;
  background-image: url("../assets/img/banner-main.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 30%;
  display: flex;
  justify-content: flex-end;
  padding-right: 18.75rem;
  align-items: center;
  border-bottom: 1px solid black; }
  .main-index .banner-main .titulo-banner h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem; }

.main-index .contenedor {
  width: 100%;
  padding: 2rem; }
  .main-index .contenedor .info-intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%; }
    .main-index .contenedor .info-intro h1 {
      font-family: "Cabin Sketch", sans-serif;
      font-style: normal;
      font-size: 3rem;
      text-align: center; }
    .main-index .contenedor .info-intro .info-calidad {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      padding: 3rem;
      border-radius: 2rem;
      color: white;
      gap: 2rem; }
      .main-index .contenedor .info-intro .info-calidad img {
        width: 100%;
        box-shadow: 0px 0px 6px white; }
      .main-index .contenedor .info-intro .info-calidad h2 {
        width: 20rem;
        font-family: "Cabin Sketch", sans-serif;
        font-size: 1rem;
        background-color: #dc2f02;
        padding: 5px;
        text-align: center;
        border-radius: 7px;
        color: black;
        text-decoration: underline; }
    .main-index .contenedor .info-intro .linea-separacion {
      width: 1px;
      height: 500px;
      border-left: none;
      border-bottom: none;
      border-top: none; }
  .main-index .contenedor .info-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 3rem;
    text-align: center; }
    .main-index .contenedor .info-p p {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-size: 1rem; }
    .main-index .contenedor .info-p .linea-separacion {
      width: 80%;
      height: 0px;
      border: 1px solid #dc2f02; }

.main-index .section-cards .title-product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem; }
  .main-index .section-cards .title-product h2 {
    font-family: "Cabin Sketch", sans-serif;
    font-size: 1.5rem; }

.main-index .section-cards .cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem; }
  .main-index .section-cards .cards .cards-product {
    width: 20rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 7px solid black;
    border-radius: 20px;
    background-color: #dc2f02;
    color: black;
    box-shadow: 0px 0px 15px white;
    padding: 1rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0; }
    .main-index .section-cards .cards .cards-product img {
      width: 100%;
      height: 50%;
      border-bottom: 1px solid black;
      border-top: none;
      border-radius: 20px 20px 0px 0px; }
    .main-index .section-cards .cards .cards-product h3 {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 1.5rem; }
    .main-index .section-cards .cards .cards-product p {
      text-align: center;
      font-size: 1rem;
      font-weight: 500;
      font-family: "Open Sans", sans-serif; }
    .main-index .section-cards .cards .cards-product .btn-card {
      width: 50%;
      padding: 10px;
      border-radius: 20px;
      background-color: #000000;
      color: white;
      font-size: 1rem;
      font-weight: 500;
      font-family: "Open Sans", sans-serif; }
      .main-index .section-cards .cards .cards-product .btn-card:hover {
        background-color: white;
        color: #000000;
        opacity: 0.9; }

.main-index .section-ventajas {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  padding-bottom: 2rem; }
  .main-index .section-ventajas .title-product h2 {
    font-family: "Cabin Sketch", sans-serif;
    font-size: 1.5rem; }
  .main-index .section-ventajas .ventajas {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .main-index .section-ventajas .ventajas img {
      width: auto;
      height: 10rem; }
    .main-index .section-ventajas .ventajas h2 {
      text-align: center;
      font-size: 1rem;
      font-style: italic;
      font-weight: bold;
      color: black;
      text-shadow: 5px 10px 20px black; }

.main-index .section-galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 2rem; }
  .main-index .section-galeria .galeria {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4.1fr);
    gap: 5px; }
    .main-index .section-galeria .galeria img {
      width: 100%;
      height: 100%; }
    .main-index .section-galeria .galeria .galeria-img1 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2; }
    .main-index .section-galeria .galeria .galeria-img2 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3; }
    .main-index .section-galeria .galeria .galeria-img3 {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2; }
    .main-index .section-galeria .galeria .galeria-img4 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 4; }
    .main-index .section-galeria .galeria .galeria-img5 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4; }
    .main-index .section-galeria .galeria .galeria-img6 {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 4; }

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-top: 1px solid #dc2f02; }
  footer .info h5 {
    font-size: 0.7rem;
    font-family: "Open Sans", sans-serif; }
  footer .redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; }
    footer .redes h5 {
      margin-right: 0.5rem;
      font-size: 0.8rem;
      padding-right: 1rem;
      border-right: 1px solid white;
      font-family: "Open Sans", sans-serif; }
    footer .redes a img {
      width: 2rem; }

.section-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .section-contacto .intro h1 {
    font-family: "Cabin Sketch", sans-serif;
    font-size: 2rem;
    text-align: center; }
  .section-contacto .intro p {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1rem;
    text-align: justify; }
  .section-contacto .form-contacto {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #dc2f02;
    border-radius: 10px; }
    .section-contacto .form-contacto label {
      font-size: 1rem;
      font-family: "Open Sans", sans-serif;
      text-align: center; }
    .section-contacto .form-contacto input {
      width: 100%;
      padding-top: 0.8rem;
      margin: 1rem 0;
      justify-content: center; }
    .section-contacto .form-contacto textarea {
      margin: 1rem 0; }
  .section-contacto div {
    width: 50%;
    margin: 1.5rem; }
    .section-contacto div input {
      width: 100%;
      padding: 0.5rem;
      border-radius: 10px;
      font-size: 0.8rem; }
      .section-contacto div input:hover {
        color: white;
        background-color: black; }

.container .titulo-bienvenida {
  display: flex;
  justify-content: center;
  align-items: center; }
  .container .titulo-bienvenida h1 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    background-color: #dc2f02;
    padding: 2rem;
    color: #000000;
    border-radius: 5px; }
    .container .titulo-bienvenida h1 span {
      font-weight: 800; }

.container .bienvenida-info .img-leñera {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); }
  .container .bienvenida-info .img-leñera img {
    width: 100%;
    height: 100%; }
  .container .bienvenida-info .img-leñera .item-1 {
    grid-column: 1/3;
    grid-row: 1/3; }
  .container .bienvenida-info .img-leñera .item-2 {
    grid-column: 2/4;
    grid-row: 2/4; }

.container .bienvenida-info .empresa-descripcion {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
  text-align: justify; }

.container .bienvenida-info .linea-separacion {
  margin-top: 2rem;
  width: 100%;
  height: 0px;
  border: 1px solid #dc2f02;
  margin: 2rem; }

.container .localizacion-container {
  margin: 2rem; }
  .container .localizacion-container .info-localizacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .container .localizacion-container .info-localizacion p {
      text-align: justify; }
    .container .localizacion-container .info-localizacion h2 {
      font-size: 1.5rem; }
  .container .localizacion-container .linea-separacion {
    width: 100%;
    height: 0px;
    border: 1px solid #dc2f02;
    margin-top: 3rem; }

.container .transporte-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 4rem; }
  .container .transporte-container .transporte-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .container .transporte-container .transporte-info h2 {
      font-size: 1.5rem; }
    .container .transporte-container .transporte-info p {
      text-align: justify; }
  .container .transporte-container .transportes-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1, 1fr;
    margin-bottom: 1rem;
    gap: 1rem; }
    .container .transporte-container .transportes-img img {
      width: 100%;
      height: 100%; }
    .container .transporte-container .transportes-img .img-1 {
      grid-column: 1/2;
      grid-row: 1; }
    .container .transporte-container .transportes-img .img-2 {
      grid-column: 2/3;
      grid-row: 1; }

.intro {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .intro div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .intro div h1 {
      font-size: 2rem;
      text-align: center; }
    .intro div p {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 200;
      font-size: 1rem;
      text-align: justify; }
  .intro .carbon-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1, 1fr;
    margin-bottom: 1rem;
    gap: 1rem; }
    .intro .carbon-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.proceso .carbon-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1, 1fr;
  margin-bottom: 1rem;
  gap: 1rem; }
  .proceso .carbon-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.proceso div h2 {
  font-size: 1.5rem; }

.proceso div p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
  text-align: justify; }

.transporte div h2 {
  font-size: 1.5rem; }

.transporte div p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
  text-align: justify; }

.transporte .carbon-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1, 1fr;
  margin-bottom: 1rem;
  gap: 1rem; }
  .transporte .carbon-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.btn-carbon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; }
  .btn-carbon .button a button {
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 0.8rem; }
    .btn-carbon .button a button:hover {
      color: white;
      background-color: black; }

.intro {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .intro div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .intro div h1 {
      font-size: 2rem;
      text-align: center; }
    .intro div p {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 200;
      font-size: 1rem;
      text-align: justify; }
  .intro .leña-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1, 1fr;
    margin-bottom: 1rem;
    gap: 1rem; }
    .intro .leña-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.tipos .leña-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1, 1fr;
  margin-bottom: 1rem;
  gap: 1rem; }
  .tipos .leña-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.tipos div h2 {
  font-size: 1.5rem; }

.tipos div p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
  text-align: justify; }

.transporte div h2 {
  font-size: 1.5rem; }

.transporte div p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
  text-align: justify; }

.transporte .leña-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1, 1fr;
  margin-bottom: 1rem;
  gap: 1rem; }
  .transporte .leña-img img {
    width: 100%;
    height: 100%;
    object-fit: scale-down; }

.btn-leña {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; }
  .btn-leña .button a button {
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 0.8rem; }
    .btn-leña .button a button:hover {
      color: white;
      background-color: black; }

.ventaja-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #dc2f02;
  width: 10rem;
  height: 10rem;
  margin: 2rem;
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0px 0px 9px #dc2f02;
  font-family: "Open Sans", sans-serif; }

@media (max-width: 1440px) {
  header .logo {
    align-items: center; }
    header .logo a h2 {
      font-weight: 200;
      font-size: 2rem; }
  header .navBar ul li a {
    font-size: 1rem; }
  .contenedor .info-intro .linea-separacion {
    height: 300px; }
  .localizacion-container .maps {
    width: 450px;
    height: 350px; } }

@media (max-width: 1024px) {
  header {
    flex-wrap: wrap;
    justify-content: center; }
    header .logo a h2 {
      font-weight: 200;
      font-size: 2rem; }
    header .logo a img {
      width: 80px;
      height: 50px; }
    header .navBar ul li a {
      font-size: 1rem; }
  .contenedor .info-intro h1 {
    font-size: 2rem; }
  .contenedor .info-intro .info-calidad h2 {
    width: 10rem;
    font-size: .625rem; }
  .contenedor .info-intro .linea-separacion {
    height: 200px; }
  .section-cards .title-product {
    margin-top: 1rem;
    margin-bottom: 2rem; }
    .section-cards .title-product h2 {
      font-size: 1rem; }
  .section-cards .cards .cards-product {
    width: 12rem; }
    .section-cards .cards .cards-product img {
      border-radius: 10px 10px 0px 0px; }
    .section-cards .cards .cards-product h3 {
      font-family: "Open Sans", sans-serif;
      font-weight: 800;
      font-size: 1rem; }
    .section-cards .cards .cards-product p {
      text-align: center;
      font-size: 0.6rem;
      font-family: "Open Sans", sans-serif; }
    .section-cards .cards .cards-product .btn-card {
      width: 50%;
      padding: 5px;
      border-radius: 20px;
      font-size: 0.7rem;
      font-weight: 200;
      font-family: "Open Sans", sans-serif; }
  .localizacion-container .maps {
    width: 250px;
    height: 150px; } }

@media (max-width: 768px) {
  .main-index .banner-main {
    height: 10rem;
    background-position: 0 40%; }
    .main-index .banner-main .titulo-banner h2 {
      font-size: 0.7rem;
      text-align: start; }
  .main-index .contenedor .info-intro h1 {
    font-size: 1rem; }
  .main-index .contenedor .info-intro .info-calidad img {
    width: 60%;
    box-shadow: 0px 0px 6px white; }
  .main-index .contenedor .info-intro .linea-separacion {
    display: none; }
  .main-index .contenedor .info-p p {
    font-size: 0.8rem; }
  .container .titulo-bienvenida h1 {
    font-size: 1rem;
    padding: 1rem; }
  .container .bienvenida-info .empresa-descripcion p {
    font-size: 0.7rem; }
  .container .bienvenida-info .img-leñera img {
    width: 50%;
    height: 50%; }
  .localizacion-container .info-localizacion h2 {
    font-size: 0.9rem; }
  .localizacion-container .info-localizacion p {
    font-size: 0.7rem; }
  .localizacion-container .linea-separacion {
    width: 100%;
    height: 0px;
    margin: 1rem; }
  .transporte-container .transporte-info h2 {
    font-size: 0.9rem; }
  .transporte-container .transporte-info p {
    font-size: 0.7rem; }
  footer .redes h5 {
    padding-right: 5px; }
  footer .redes a img {
    width: 1.8rem; } }

@media (max-width: 500px) {
  footer .info h5 {
    font-size: 0.5rem;
    text-align: center; }
  footer .redes h5 {
    display: none; } }

@media (max-width: 425px) {
  header {
    flex-wrap: wrap;
    justify-content: center; }
    header .logo a h2 {
      font-weight: 100;
      font-size: 1.5rem; }
    header .logo a img {
      width: 60px;
      height: 40px; }
    header .navBar ul {
      gap: 0.5rem; }
      header .navBar ul li a {
        font-size: 1rem; }
  .main-index .banner-main {
    height: 6rem;
    justify-content: left;
    background-position: 0 50%; }
    .main-index .banner-main .titulo-banner h2 {
      font-size: 0.5rem;
      text-align: start; }
  .main-index .contenedor .info-intro .info-calidad h2 {
    width: 50%;
    font-size: 0.5rem; }
  .main-index .contenedor .info-intro .linea-separacion {
    display: none; }
  .main-index .contenedor .info-p p {
    margin-top: 0;
    font-size: 0.7rem; }
  .main-index .section-cards .title-product h2 {
    font-size: 0.7rem; }
  .main-index .section-cards .cards .cards-product {
    width: 10rem;
    gap: 5px; }
    .main-index .section-cards .cards .cards-product img {
      height: 7rem; }
    .main-index .section-cards .cards .cards-product h3 {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 0.8rem; }
    .main-index .section-cards .cards .cards-product p {
      text-align: center;
      font-size: 0.5rem;
      font-family: "Open Sans", sans-serif; }
    .main-index .section-cards .cards .cards-product .btn-card {
      padding: 5px;
      border-radius: 10px;
      font-size: 0.5rem; }
  .section-ventajas .title-product h2 {
    font-size: 0.7rem; }
  .section-ventajas .ventajas .ventaja-card {
    gap: 10px;
    width: 6rem;
    height: 6rem;
    margin: 1rem;
    padding: 1rem; }
    .section-ventajas .ventajas .ventaja-card img {
      width: 3rem;
      height: 3rem; }
    .section-ventajas .ventajas .ventaja-card h2 {
      font-size: 0.5rem; }
  footer {
    flex-direction: column;
    justify-content: center;
    padding: 1rem; }
    footer .info h5 {
      font-size: 0.5rem;
      text-align: center; }
    footer .redes a img {
      width: 1rem; }
  .localizacion-container .maps {
    width: 200px;
    height: 100px; }
  .localizacion-container .linea-separacion {
    width: 80%;
    height: 0px;
    margin: 1rem; } }

@media (max-width: 375px) {
  header .logo a h2 {
    font-weight: 100;
    font-size: 1.5rem; }
  header .logo a img {
    width: 60px;
    height: 40px; }
  header .navBar ul {
    gap: 5px; }
    header .navBar ul li a {
      font-size: 0.7rem; }
  .contenedor .info-intro .linea-separacion {
    display: none; }
  .contenedor .info-intro h1 {
    font-size: 1rem;
    text-align: center; }
  .contenedor .info-p {
    margin-top: 0;
    gap: 1rem; }
    .contenedor .info-p p {
      font-size: 0.5rem;
      margin-top: 0; }
  .banner-main {
    height: 6rem;
    justify-content: left;
    background-position: 0 50%; }
    .banner-main .titulo-banner h2 {
      font-size: 0.5rem;
      text-align: start; }
  .titulo-bienvenida h1 {
    font-size: 1rem;
    padding: 0.3rem; }
  .localizacion-container .info-localizacion h2 {
    font-size: 0.5rem; } }
