@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-secundario: rgb(255, 35, 0);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    padding: 2rem;
    border-bottom: 1px solid var(--color-secundario);
    position: sticky;
    top: 0;
}

body{
    width: 100%;
    background-image: url("../assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-top: 1px solid var(--color-secundario);
}

.logo{
    display: flex;
    flex-direction: row;
}

.logo a{
    text-decoration: none;
    color: white;
}

.logo h2{
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-size: 6.25rem;
    font-style: normal
}

.navBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 9rem;
}

.navBar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navBar ul li{
    list-style: none;
}

.navBar ul li a{
    text-decoration: none;
    color: white;
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
}

.navBar ul li a:hover{
    color: var(--color-secundario);
}

.banner-main{
    width: 100%;
    height: 43.75rem;
    background-image: url("../assets/img/banner-main.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 30%;
    display: flex;
    justify-content: flex-end;
    padding-right: 18.75rem;
    align-items: center;
    border-bottom: 1px solid var(--color-secundario);
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color-secundario);
    padding: 5rem;
}

.container h1{
    font-size: 7rem;
    font-family: monospace;
    color: white;
}

.container p{
    font-size: 1rem;
}

.container h2{
    margin-top: 2rem;
    font-size: 3rem;
}

.ventajas{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.ventaja1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--color-secundario);
    width: 20rem;
    height: 20rem;
    margin: 2rem;
    border-radius: 1rem;
    padding: 2rem;
}

.ventajas img{
    width: 6.25rem;
    height: 6.25rem;
}

.ventaja2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--color-secundario);
    width: 20rem;
    height: 20rem;
    margin: 2rem;
    border-radius: 1rem;
    padding: 2rem;
}

.ventaja3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--color-secundario);
    width: 20rem;
    height: 20rem;
    margin: 2rem;
    border-radius: 1rem;
    padding: 2rem;
}

.ventaja4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--color-secundario);
    width: 20rem;
    height: 20rem;
    margin: 2rem;
    border-radius: 1rem;
    padding: 2rem;
}

.product-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    gap: 5rem;
}

.product-container .productos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.product-container img {
    width: 400px;
    height: 400px;
}

.btn-product{
    width: 8rem;
    height: 3rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: black;
    border: 1px solid var(--color-secundario);
    color: var(--color-secundario);
    border-radius: 1.5rem 1.5rem;
    position: relative;
    right: 16.875rem;
}

.btn-product a{
    text-decoration: none;
    color: var(--color-secundario);
}

.carbon-img img{
    width: 700px;
    height: 800px;
}

.nosotros img{
    width: 700px;
    height: 800px;
}

.form-contacto{
    width: 20rem;
    height: 30rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.form-contacto label{
   font-size: 2rem;
}

.form-contacto input{
    padding-top: 0.8rem;
    margin: 1rem 0;
    justify-content: center;
}

.form-contacto textarea{
    margin: 1rem 0;
}

.galeria-home{
    display: grid;
    width: 100%;
    height: 125rem;
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid var(--color-secundario);
    gap: 4rem;
    grid-template-columns: repeat(4,20%);
    grid-template-rows: repeat(3,25%);
    grid-template-areas: 
    "item1 item1 item2 item2"
    "item4 item4 item3 item3" 
    "item5 item5 item6 item6"
    ;
}

.galeria-home img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px var(--color-secundario);
}

.galeria-home img:hover{
}

.item1{
    grid-area: item1;
}

.item2{
    grid-area: item2;
}

.item3{
    grid-area: item3;
}

.item4{
    grid-area: item4;
}

.item5{
    grid-area: item5;
}

.item6{
    grid-area: item6;
}

@media(max-width:768px){
    body{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


