.main-index{
    .banner-main{
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: start;
        align-items: center;
        .info-banner{
            margin-top: 20rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            border-radius: 2rem;
            color: white;
            margin-left: 4rem;
            div{
                button{
                    padding: 10px;
                    border-radius: 5px;
                    background-color: #000000;
                    color: white;
                    font-size: 1rem;
                    font-weight: 500;
                    font-family: $font-texto;
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
            div{
                h1{
                    font-family: $font-principal;
                    font-style: normal;
                    font-size: 3rem;
                    text-align: center;
                }
            }
            
        }
        
        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            position: absolute;
        }
    }

    .contenedor{
        width: 100%;
        padding: 2rem;
        margin-top: 30rem;
        h2{
            text-align: center;
            margin-bottom: 4rem;
            font-family: $font-principal;
        }
        .info-p{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            gap: 3rem;
            text-align: center;
            p{
                font-family: $font-texto;
                font-style: normal;
                font-size: 1rem;
                text-align: justify;
            }
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                img{
                    width: 70%;
                    box-shadow: 0px 0px 6px white;
                }
                h2{
                    width: 70%;
                    font-family: $font-principal;
                    font-size: 1rem;
                    background-color: $color-secundario;
                    padding: 5px;
                    text-align: center;
                    border-radius: 7px;
                    color: black;
                }
            }
        }
        .linea-separacion{
            width: 90%;
            height: 0px;
            border: 1px solid $color-secundario;
        }
    }

    .section-cards{
        .title-product{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            margin-bottom: 3rem;
            h2{
                font-family: $font-principal;
                font-size: 1.5rem;
            }
        }
        .cards{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 5rem;
            .cards-product{
                width: 20rem;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                gap: 5px;
                border: 7px solid black;
                border-radius: 20px;
                background-color: $color-secundario;
                color: black;
                box-shadow: 0px 0px 15px white;
                padding: 1rem;
                padding-left: 0;
                padding-right: 0;
                padding-top: 0;
                img{
                    width: 100%;
                    height: 50%;
                    border-bottom: 1px solid black;
                    border-top: none;
                    border-radius: 20px 20px 0px 0px;
                }
                h3{
                    font-family: $font-texto;
                    font-weight: 700;
                    font-size: 1.5rem;
                }
                p{
                    text-align: center;
                    font-size: 1rem;
                    font-weight: 500;
                    font-family: $font-texto;
                }
                .btn-card{
                    width: 50%;
                    padding: 10px;
                    border-radius: 20px;
                    background-color: #000000;
                    color: white;
                    font-size: 1rem;
                    font-weight: 500;
                    font-family: $font-texto;
                    &:hover{
                        background-color: white;
                        color: #000000;
                        opacity: 0.9;
                    }
                }
            }
        }
    }

    .section-ventajas{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
        padding-bottom: 2rem;
        .title-product{
            h2{
                font-family: $font-principal;
                font-size: 1.5rem;
            }
        }
        .ventajas{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            img{
                width: auto;
                height: 10rem;
            }
            h2{
                text-align: center;
                font-size: 1rem;
                font-style: italic;
                font-weight: bold;
                color: black;
                text-shadow:  5px 10px 20px black;
            }
        }
    }

    .section-galeria{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin-bottom: 2rem;
        .galeria{
            display: grid;
            width: 50%;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(4.1fr);
            gap: 5px;
            img{
                width: 100%;
                height: 100%;
            }
            .galeria-img1{
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 2;
            }
            .galeria-img2{
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 3;
            }
            .galeria-img3{
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 2;
            }
            .galeria-img4{
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 4;
            }
            .galeria-img5{
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 4;
            }
            .galeria-img6{
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 4;
            }
        }
    }
}