
.intro{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 2rem;
            text-align: center;
            font-family: $font-principal;
        }
        p{
            font-family: $font-texto;
            font-style: normal;
            font-weight: 200;
            font-size: 1rem;
            text-align: justify;
            &::first-letter{
                font-size: 2rem;
                font-weight: 600;
            }
        }
    }
    .carbon-img{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1, 1fr;
        margin-bottom: 1rem;
        gap: 40px;
        img{
            width: 100%;
            height: 70%;
            border-radius: 10px;
            object-fit: cover;
            box-shadow: 0px 0px 15px white;
            &:hover{
                transform: scale(1.1);
                transition-property: scale();
                transition-duration: 400ms;
            }
        }
    }
}

.proceso{
    .carbon-img{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1, 1fr;
        margin-bottom: 1rem;
        gap: 40px;
        img{
            width: 100%;
            height: 70%;
            border-radius: 10px;
            object-fit: cover;
            box-shadow: 0px 0px 15px white;
            &:hover{
                transform: scale(1.1);
                transition-property: scale();
                transition-duration: 400ms;
            }
        }
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            font-size: 1.5rem;
            font-family: $font-principal;
        }
        p{
            font-family: $font-texto;
            font-style: normal;
            font-weight: 200;
            font-size: 1rem;
            text-align: justify;
            &::first-letter{
                font-size: 2rem;
                font-weight: 600;
            }
        }
    }
}

.transporte{
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            font-size: 1.5rem;
            font-family: $font-principal;
        }
        p{
            font-family: $font-texto;
            font-style: normal;
            font-weight: 200;
            font-size: 1rem;
            text-align: justify;
            &::first-letter{
                font-size: 2rem;
                font-weight: 600;
            }
        }
    }
    .carbon-img{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1, 1fr;
        margin-bottom: 1rem;
        gap: 40px;
        img{
            width: 100%;
            height: 70%;
            border-radius: 10px;
            object-fit: cover;
            box-shadow: 0px 0px 15px white;
            &:hover{
                transform: scale(1.1);
                transition-property: scale();
                transition-duration: 400ms;
            }
        }
    }
}

.btn-carbon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    .button{
        a{
            button{
                padding: 0.5rem;
                border-radius: 10px;
                background-color: #000000;
                color: white;
                font-weight: 500;
                font-size: 0.8rem;
                box-shadow: 0px 0px 6px white;
                &:hover{
                    background-color: white;
                    color: #000000;
                }
            }
        }
    }
}