@media (max-width: 1440px){
    header{
        .logo{
            align-items: center;
            a{
                h2{
                    font-weight: 200;
                    font-size: 2rem;
                }
            }
        }
        .navBar{
            ul{
                li{
                    a{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    
    .contenedor{
        .info-intro{
            .linea-separacion{
                height: 300px;
            }
        }
    }

    .localizacion-container{
        .maps{
            width: 450px; 
            height: 350px;
        }
    }


    .main-index{
        .banner-main{
            .info-banner{
                margin-top: 10rem;
                div{
                    h1{
                        font-size: 2rem;
                    }
                }
                div{
                    a{
                        padding: 5px;
                        border-radius: 5px;
                        font-size: 1.2rem;
                    }
                }
            }
            video{
                height: 80%;
            }
        }

        .contenedor{
            width: 100%;
            padding: 2rem;
            margin-top: 15rem;
            .info-p{
                gap: 2rem;
            }
        }
    }
}


    

