@media (max-width: 768px){

    .main-index{
        .banner-main{
            height: 10rem;
            background-position: 0 40%;
            .titulo-banner{
                h2{
                    font-size: 0.7rem;
                    text-align: start;
                }
            }
        }

        .contenedor{
            .info-intro{
                h1{
                    font-size: 1rem;
                }
                .info-calidad{
                    img{
                        width: 60%;
                        box-shadow: 0px 0px 6px white;
                    }
                }
                .linea-separacion{
                    display: none;
                }
            }
            .info-p{
                p{
                    font-size: 0.8rem;
                }
            }
        }
    }

    // ----page-nosotros------

    .container{
        .titulo-bienvenida{
            h1{
                font-size: 1rem;
                padding: 1rem;
            }
        }
        .bienvenida-info{
            .empresa-descripcion{
                p{
                    font-size: 0.7rem;
                }
            }
            .img-leñera{
                img{
                    width: 50%;
                    height: 50%;
                }
            }
        }
    }

    .localizacion-container{
        .info-localizacion{
            h2{
                font-size: 0.9rem;
            }
            p{
                font-size: 0.7rem;
            }
        }
        .linea-separacion{
            width: 100%;
            height: 0px;
            margin: 1rem;
        }
    }

    .transporte-container{
        .transporte-info{
            h2{
                font-size: 0.9rem;
            }
            p{
                font-size: 0.7rem;
            }
        }
    }

    // ----global-----

    footer{
        .redes{
            h5{
                padding-right: 5px;
            }
            a{
                img{
                    width: 1.8rem;
                }
            }
        }
    }
}