.ventaja-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: $color-secundario;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0px 0px 9px $color-secundario;
    font-family: $font-texto;
}